
<!--
<div>
    <section>
      <h1>Obtene tus entradas para los eventos Deportivos Mas importantes</h1>
    </section>
  
    <section>
      <h2>Eventos</h2>
      <div>
        
        <h4>Eliminatorias</h4>
        
      </div>
      <div>
        
        <h2>Copa Argentina</h2>
      </div>
      <div>
        <h4>Sub-21</h4>
        
      </div>
    </section>
    <section>
      <h2>Niveles</h2>
      <div>
        
        <h4>Oro</h4>
        <p>Tendras 10 entradas disponibles en Palcos</p>
        
      </div>
      <div>
        
          <h4>Plata</h4>
          <p>Tendras 8 entradas disponibles en PlateaS</p>
      </div>
      <div>
          <h4>Bronce</h4>
          <p>Tendras 5 entradas disponibles en Populares</p>
        
      </div>
    </section>
  
  
    <section>
      <h3>Contacto</h3>
      <p>telefono: 12345678</p>
      <p>email: rec@misentradas.com</p>
    </section>
  </div>
  -->


  <app-nav-bar></app-nav-bar>
  <div>
    <app-view-event [events]="events" (eventToDelete)="deleteEvent($event)"></app-view-event>
    <app-add-event (eventToCreate)="createEvent($event)"></app-add-event>
  </div>
