<body>
    <div class="container">
        <h2 mat-dialog-title class="titulo">COMPRAR ENTRADAS</h2>

        <div mat-dialog-content class="card-container">

            <mat-card class="event-card">
                <img src={{theEvent.image}}>
                <mat-card-header>
                    <mat-card-title>{{theEvent.name}}</mat-card-title>
                    <mat-card-subtitle class="subtitulo">{{theEvent.place}}</mat-card-subtitle>
                    <mat-card-subtitle class="subtitulo">{{theEvent.date}} - {{theEvent.hour}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{theEvent.description}}
                    </p>
                </mat-card-content>
            </mat-card>

            <form (ngSubmit)="buy()">

                <label for="ticketQ">Cantidad: </label>
        
                <select name="ticketQ" id="ticketQ" [(ngModel)]="ticketQ" required>
                    <option *ngFor="let value of getDisponibleTickets(theEvent.id!)" [value]="value">{{value}}</option>
                </select>
                    <script></script>
                <div class="buttons">
                    <button id="buy" mat-button type="submit" disabled="{{ticketQ < 1}}">Comprar</button>
                </div>

            </form>

            <div class="buttons">
                <button id="cancel" (click)="closeDialog()">Cancelar</button>
            </div>
        </div>
    </div>
</body>

