<div>
    <h2>Iniciar Sesión</h2>

    <form autocomplete="off">
        <div>
        
            <label for="name">Nombre: </label>
        
            <input type="text" formControlName="name" placeholder="Ingrese su/s nombre/s"/>
            <div>
                
                <span  *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>

            </div>
        
            
        
        </div>

        <div>
        
            <label for="lastName">Apellido: </label>
        
            <input type="text" formControlName="lastName" placeholder="Ingrese su/s apellido/s"/>
            
            <div>
            
                <span *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>
            
            </div>
        
        </div>

        <div>
        
            <label for="dni">DNI: </label>
        
            <input type="string" formControlName="dni" placeholder="Ingrese su nro de Documento"/>
            
            <div>
            
                <span *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>
            
            </div>
        
        </div>

        <div>
        
            <label for="birthDate">Fecha de Nacimiento: </label>
        
            <input type="date" formControlName="birthDate"/>
        
        </div>

        <div>
        
            <label for="userName">Usuario: </label>
        
            <input type="text" formControlName="userName" placeholder="Ingrese su nombre de usuario"/>
            
            <div>
            
                <span *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>
            
            </div>
        
        </div>

        <div>

            <label for="email">Email: </label>

            <input type="email" formControlName="email" placeholder="Ingrese su email"/>
            
            <div>
            
                <span *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>
            
            </div>

        </div>

        <div>

            <label for="password">Contraseña: </label>

            <input type="password" formControlName="password" placeholder="Ingrese su contraseña"/>

            <div>
            
                <span *ngIf="!isValidField('name')">
                    {{ getFieldError('name') }}
                </span>
            
            </div>

        </div>

        <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
</div>

{{name.errors}}

id: number | null;
userName: string | null;
email: string | null;
password: string | null;
age: string | null;
dni: string | null;
birthDate: Date | null;
name: string | null;
lastName: string | null;
suscription: string | null;
