<body>
<app-nav-bar></app-nav-bar>

<div class="container">
    <h2>REGISTRO</h2>

    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="userRegister()">
        <div class="input">
        
            <label for="name">Nombre: </label>
        
            <input type="text" id="name" formControlName="name" placeholder="Ingrese su/s nombre/s"/>
            <div class="span">
                
                <span *ngIf="isValidField('name')">
                    {{ getFieldError('name', 'nombre') }}
                </span>

            </div>
        
            
        
        </div>

        <div class="input">
        
            <label for="lastName">Apellido: </label>
        
            <input type="text" id="lastName" formControlName="lastName" placeholder="Ingrese su/s apellido/s"/>
            
            <div class="span">
            
                <span *ngIf="isValidField('lastName')">
                    {{ getFieldError('lastName', 'apellido') }}
                </span>
            
            </div>
        
        </div>

        <div class="input">
        
            <label for="dni">DNI: </label>
        
            <input type="text" id="dni" formControlName="dni" placeholder="Ingrese su nro de Documento"/>
            
            <div class="span">
            
                <span *ngIf="isValidField('dni')">
                    {{ getFieldError('dni', 'documento') }}
                </span>
            
            </div>
        
        </div>

        <div class="input">
        
            <label for="birthDate">Fecha de Nacimiento: </label>
        
            <input type="date" id="birthDate" formControlName="birthDate" [max]="calcularFechaHace18Anios()"/>

            <div class="span">
            
                <span *ngIf="isValidField('birthDate')">
                    {{ getFieldError('birthDate', 'Fecha de nacimiento') }}
                </span>
            
            </div>
        
        </div>

        <div class="input">
        
            <label for="userName">Usuario: </label>
        
            <input type="text" id="userName" formControlName="userName" placeholder="Ingrese su nombre de usuario"/>
            
            <div class="span">
            
                <span *ngIf="isValidField('userName')">
                    {{ getFieldError('userName', 'nombre de usuario') }}
                </span>
            
            </div>
        
        </div>

        <div class="input">

            <label for="email">Email: </label>

            <input type="email" id="email" formControlName="email" placeholder="Ingrese su email"/>
            
            <div class="span">
            
                <span *ngIf="isValidField('email')">
                    {{ getFieldError('email', 'email') }}
                </span>
            
            </div>

        </div>

        <div class="input">

            <label for="password">Contraseña: </label>

            <input type="password" id="password" formControlName="password" placeholder="Ingrese su contraseña"/>

            <div class="span">
            
                <span *ngIf="isValidField('password')">
                    {{ getFieldError('password', 'contraseña') }}
                </span>
            
            </div>

        </div>

        <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
</div>

<app-footer></app-footer>
</body>