<app-nav-bar [isUser]="false"></app-nav-bar>

<div>
    <h2>Iniciar Sesión</h2>

    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="checkAuth()">
        <div>
        
            <label for="email">Email: </label>
        
            <input type="email" formControlName="email" placeholder="Ingrese su email" />
        
            <div>
        
                <span *ngIf="isValidField('email')">
                    {{ getFieldError('email', 'email') }}
                </span>
        
            </div>
        
        </div>
        
        <div>
        
            <label for="password">Contraseña: </label>
        
            <input type="password" formControlName="password" placeholder="Ingrese su contraseña" />
        
            <div>
        
                <span *ngIf="isValidField('password')">
                    {{ getFieldError('password', 'contraseña') }}
                </span>
        
            </div>
        
        </div>
        
        <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
        <button (click)="navigateToRegister()">Registrarse</button>
        
    </form>

    
</div>

<app-footer></app-footer>
