<app-nav-bar [isUser]="true"></app-nav-bar>

<div class="buscador">
    <input type="text" name="filterPost" id="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
</div>
<div class="container">    
    <div *ngFor="let ticket of myEvents" class="div1">
        <div *ngFor="let event of events | filter: filterPost" class="div2">
            <mat-card class="my-event-card" *ngIf="ticket.idEvent === event.id">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <mat-card-header class="header">
                <mat-card-title>{{event.name}}</mat-card-title>
                <mat-card-subtitle>{{event.place}}</mat-card-subtitle>
                <mat-card-subtitle>{{event.date}} - {{event.hour}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                <p>
                    {{event.description}}
                </p>

                </mat-card-content>
                <mat-card-footer class="footer">
                    <h1> {{ticket.ticketQ}} </h1>
                    <img class="ticket" src="https://png.pngtree.com/png-clipart/20230401/original/pngtree-golden-ticket-png-image_9017670.png" alt="">
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>

