<body>
<app-nav-bar></app-nav-bar>

<div class="buscador">
    <input type="text" name="filterPost" id="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
    <select name="catagory" id="category" [(ngModel)]="category">
        <option value="">--</option>
        <option value="Conciertos">Conciertos</option>
        <option value="Deportes">Deportes</option>
        <option value="Deatro">Teatro</option>
        <option value="Conferencias">Conferencias</option>
    </select>
</div>
<div class="container">    
    <div *ngFor="let ticket of myEvents" class="div1">
        <div *ngFor="let event of events | filter: filterPost || category" class="div2">
            <mat-card class="my-event-card" *ngIf="ticket.idEvent === event.id">
                <img src={{event.image}}>
                <mat-card-header class="header">
                    <mat-card-title class="titulo">{{event.name}}</mat-card-title>
                    <mat-card-subtitle class="subtitulo">{{event.place}}</mat-card-subtitle>
                    <mat-card-subtitle class="subtitulo">{{event.date}} - {{event.hour}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                <p class="description">
                    {{event.description}}
                </p>

                </mat-card-content>
                <mat-card-footer class="footer">
                    <h1> {{ticket.ticketQ}} </h1>
                    <img class="ticket" src="https://png.pngtree.com/png-clipart/20230401/original/pngtree-golden-ticket-png-image_9017670.png" alt="">
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>
</body>

