body {
    background-color: #333333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333333;
}

.container>* {
    margin: 5px;
}

.div1,
.div2 {
    max-width: 350px;
    box-sizing: border-box;
}

.titulo {
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
}

.subtitulo {
    color: #fff;
    font-size: large;
    font-weight: light;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.buscador input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
}

.my-event-card {
    max-width: 100%;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
}

.footer {
    justify-content: right;
    display: flex;
}

.ticket{
    max-width: 50px;
    max-height: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
}

h1 {
    margin: 0;
    padding-top: 9.5px;
    max-width: 100px;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}