<app-nav-bar [isUser]="false"></app-nav-bar>
<body>
  <div>
    <section class="principal">
      <h1>Obtén tus entradas para todo tipo de eventos</h1>
    </section>

    <section class="conciertos">
      <div>
        <h2>CONCIERTOS</h2>
      </div>
    </section>

    <section class="teatro">
      <div>
        <h2>TEATRO</h2>
      </div>
    </section>

    <section class="deportes">
      <div>
        <h2>DEPORTES</h2>
      </div>
    </section>

    <section class="conferencias">
      <div>
        <h2>CONFERENCIAS</h2>
      </div>
    </section>
  </div>
</body>
