<app-nav-bar [isUser]="false"></app-nav-bar>

<div>
    <section>
      <h1>Obtene tus entradas para los eventos Deportivos Mas importantes</h1>
    </section>
  
    <section>
      <h2>Eventos</h2>
      <div>
        
        <h4>Eliminatorias</h4>
        
      </div>
      <div>
        
        <h4>Copa Argentina</h4>
      </div>
      <div>
        <h4>Sub-20</h4>
        
      </div>
    </section>
    <section>
      <h2>Niveles</h2>
      <div>
        
        <h4>Oro</h4>
        <p>Tendras 10 entradas disponibles en Palcos</p>
        
      </div>
      <div>
        
          <h4>Plata</h4>
          <p>Tendras 8 entradas disponibles en Plateas</p>
      </div>
      <div>
          <h4>Bronce</h4>
          <p>Tendras 5 entradas disponibles en Populares</p>
        
      </div>
    </section>
  
  
    <section>
      <h3>Contacto</h3>
      <p>telefono: 12345678</p>
      <p>email: rec@misentradas.com</p>
    </section>
  </div>

