
<div>
    <h1>Añadir Evento</h1>
    <form action="">
        <label for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="" required>
        <label for="categoria">Categoria</label>
        <select name="Categoria" id="">
            <option value="Musica">Musica</option>
            <option value="Teatro">Teatro</option>
            <option value="Deporte">Deporte</option>
            <option value="Comunicacion">Comunicacion</option>
        </select>
        <label for="entradas">Entradas</label>
        <input type="number" name="entradas" id="">
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" id="">

        <button type="submit">Crear</button>
    </form>
</div>