<footer>
<hr>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Sobre Nosotros</h2>
            <p>TICKETEA es tu plataforma ideal para obtener entradas para cualquier tipo de eventos.</p>
        </div>

        <div class="footer-section">
            <h2>Contactanos</h2>
            <p>Email: info@ticketea.com</p>
            <p>Telefono: +54 (223) 123-4567</p>
        </div>

        <div class="footer-section">
            <h2>Follow Us</h2>
            <a href="#"><img src="https://cdn.icon-icons.com/icons2/1995/PNG/512/instagram_internet_media_network_social_icon_123258.png" alt="Instagram"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1532/1532424.png" alt="Twitter"></a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/4701/4701482.png" alt="Facebook"></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2023 TICKETEA. Todos los derechos reservados.</p>
    </div>
</footer>
