<app-nav-bar [isUser]="true"></app-nav-bar>
<div>
    <h2>MI PERFIL</h2>

    <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
        <div>

            <label for="name">Nombre: </label>

            <input type="text" id="name" formControlName="name"/>
            <div>

                <span *ngIf="isValidField('name')">
                    {{ getFieldError('name', 'nombre') }}
                </span>

            </div>



        </div>

        <div>

            <label for="lastName">Apellido: </label>

            <input type="text" id="lastName" formControlName="lastName"/>

            <div>

                <span *ngIf="isValidField('lastName')">
                    {{ getFieldError('lastName', 'apellido') }}
                </span>

            </div>

        </div>

        <div>

            <label for="dni">DNI: </label>

            <input type="text" id="dni" formControlName="dni"/>

            <div>

                <span *ngIf="isValidField('dni')">
                    {{ getFieldError('dni', 'documento') }}
                </span>

            </div>

        </div>

        <div>

            <label for="birthDate">Fecha de Nacimiento: </label>

            <input type="date" id="birthDate" formControlName="birthDate"/>

            <div>

                <span *ngIf="isValidField('birthDate')">
                    {{ getFieldError('birthDate', 'Fecha de nacimiento') }}
                </span>

            </div>

        </div>

        <div>

            <label for="userName">Usuario: </label>

            <input type="text" id="userName" formControlName="userName" readonly/>

        </div>

        <div>

            <label for="email">Email: </label>

            <input type="email" id="email" formControlName="email"/>

            <div>

                <span *ngIf="isValidField('email')">
                    {{ getFieldError('email', 'email') }}
                </span>

            </div>

        </div>

        <div>

            <label for="password">Contraseña: </label>

            <input type="password" id="password" formControlName="password"/>

            <div>

                <span *ngIf="isValidField('password')">
                    {{ getFieldError('password', 'contraseña') }}
                </span>

            </div>

        </div>

        <button type="submit" [disabled]="updateForm.invalid">Guardar Cambios</button>
    </form>
</div>